llama-index==0.14.7
llama-index-core==0.14.7
llama-index-workflows==2.10.3
llama-index-cli==0.5.3
llama-index-indices-managed-vectara==0.5.1
llama-index-llms-openai==0.6.7
llama-index-llms-openai-like==0.5.3
llama-index-llms-anthropic==0.9.7
llama-index-llms-together==0.4.1
llama-index-llms-groq==0.4.1
llama-index-llms-cohere==0.6.1
llama-index-llms-google-genai==0.7.1
google_genai==1.48.0
llama-index-llms-bedrock-converse==0.11.0
llama-index-tools-yahoo-finance==0.4.1
llama-index-tools-arxiv==0.4.1
llama-index-tools-database==0.4.1
llama-index-tools-google==0.6.2
llama-index-tools-tavily_research==0.4.1
llama_index.tools.brave_search==0.4.1
llama-index-tools-neo4j==0.4.1
llama-index-tools-waii==0.4.1
llama-index-graph-stores-kuzu==0.9.1
llama-index-tools-salesforce==0.4.1
llama-index-tools-slack==0.4.1
llama-index-tools-exa==0.4.1
llama-index-tools-wikipedia==0.4.1
llama-index-tools-bing-search==0.4.1
openai>=1.99.3
tavily-python>=0.7.10
exa-py>=1.14.20
openinference-instrumentation-llama-index==4.3.8
opentelemetry-proto>=1.31.0
arize-phoenix==12.9.0
arize-phoenix-otel==0.13.1
arize-phoenix-client==1.21.0
arize-phoenix-evals==2.5.0
protobuf==5.29.5
tokenizers>=0.20
pydantic>=2.11.5
pandas==2.2.3
retrying==1.4.2
python-dotenv==1.0.1
cloudpickle>=3.1.1
httpx==0.28.1
commonmark==0.9.1
